CF_API_TOKEN="{{ vault_cloudflare_ddns_token }}"
CF_ZONE_NAME="{{ cloudflare_zone }}"
CF_RECORD_NAMES="{% for record in ddns_records %}{{ record }}{% if not loop.last %} {% endif %}{% endfor %}"
CF_TTL="{{ ddns_ttl }}"
