{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "port": {{ xray_port }},
      "listen": "0.0.0.0",
      "protocol": "vless",
      "settings": {
        "clients": [
{% for client_name in xray_client_names %}
          {
            "id": "{{ vault_xray_uuids[client_name] }}",
            "level": 0
          }{{ "," if not loop.last else "" }}
{% endfor %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "{{ xray_ws_path }}"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
